# Node.js dependencies
node_modules/

# Environment variables
.env

# macOS system files
.DS_Store

# IDE configurations
.vscode/

# Build files
dist/

# Ignorowanie pamięci podręcznej npm
npm-cache/
.npm/

# Ignorowanie plików logów
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignorowanie plików i folderów specyficznych dla systemów
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
